.dark {
    background-color: #333;
    color: white;

}
.dark h2 {
    color: rgb(160, 212, 237);
    
}
.dark p, .dark h3, .dark ol {
    color: #f1f1f1

}
dark hr, {
    border-color: #fff;
}
.dark .logo {
    content: url(byui-logo_white.png);
}
body {
    background-color: #fff;
    color: #000;
}


.content {
    max-width: 1600px;
    margin: 0 auto;
 }
h1 {
    font-size: 40px;
    font: 'Times New Roman';
    text-align: center;

}
h2 {
    font-size: 20px;
    font: "Times New Roman";
    color: #006EB6;
    text-align: center;
}
hr {
    width: 50%;
}
p {
    font-size: 20px;
    text-align: left;
    padding-left: 350px;
    padding-right: 350px;
}
h3 {
    font-size: 20px;
    text-align: left;
    padding-left: 350px;
    padding-right: 350px;
    margin: 20px 0;
}
ol {
    font-size: 20px;
    text-align: left;
    padding-left: 400px;
    padding-right: 400px;
    margin: 20px 0 ;
    list-style-position: outside;
    

}
ol li {
    margin-bottom: 35px;
}
.logo {
    width: 150px;
   display: block;
   margin: 0 auto;
}
.page-border {
    border: .5px solid black;
    margin: 20px;
    padding: 20px;

}
.dark .page-border {
    border: 1px solid white; /* White border in dark mode */
}